:root{
    --Pale_blue: hsl(225, 100%, 94%);
    --Bright_blue: hsl(245, 75%, 52%);
    --Very_pale_blue: hsl(225, 100%, 98%);
    --Desaturated_blue: hsl(224, 23%, 55%);
    --Dark_blue: hsl(223, 47%, 23%);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}



body{
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: left 0vw top -13vh;
    background-size: cover;
    background-color: var(--Pale_blue);
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.card{
    background-color: #fff;
    border-radius:14px;
    width:365px;
    height:578px;
    overflow:hidden;
    box-shadow: 2px 5px 14px  hsl(223, 47%, 23%,0.2);

    &-header{
        margin:0;
        img{
            width:100%;
        }
    }

    &-body{
        display:flex;
        align-items:center;
        flex-direction:column;
        font-family: 'Red Hat Display', sans-serif;
        &-title{
            color: var(--Dark_blue);
            margin-top: 28px;
            font-size: 25px;
        }

        &-text{
            width: 68%;
            margin:-10px;
            text-align: center;
            word-spacing: 2px;
            font-size: 12px;
            color: var(--Desaturated_blue);
            font-weight: normal
        }

        &-box{
            display: flex;
            flex-direction:row;
            margin:33px;
            background-color: var(--Very_pale_blue);
            align-items:center;
            justify-content:center;
            border-radius:12px;
            height:85px;
            width: 80%;
            gap:30px;
            overflow:hidden;
            &-icon{
                
                img{
                 width:100%;
                }
            }

            &-plan{
               margin-left:-14px;
               height:44px;
                 font-size:14px;
               &-text{
                font-weight:bold;
      
               }
              
               div{
                margin-top:4px;
                color: var(--Desaturated_blue);
                font-size:13px;
               }
            }

            &-change{ 
              color: var(--Bright_blue);
              margin-left:25px;
              font-weight:bold;
              font-size:15px;
            }
            
        }

        button{
            width: 80%;
            padding:15px;
            border:none;
            background-color: var(--Bright_blue);
            color: var(--Pale_blue);
            border-radius:9px;
            font-weight:bold;
            box-shadow: 2px 10px 20px hsl(245, 75%, 52%,0.3);
        }

        &-cancel{
           color: var(--Desaturated_blue);
           font-weight:bold;
           padding:24px;
           text-decoration:none;
        }

        
    }

}

@media (max-width: 440px){
    body{
       background-image:none;
       background-color: var(--Pale_blue);
    }
    .card{
        

        &-body{
            &-box{
                &-change{
                      margin-left: 5px;
                }
            }
        }
    }
}
